body{
    background-color: #FFE8DF;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}



div{
    background-color: #F0F0F0;
    margin: auto;
    text-align: center;
    border-style: solid;
    height: 500px;
    width: 1000px;
}


img{
    height: 200px;
}



