* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}
.parent {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
    align-content: start;
}

.parent > div {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 3;
}
.parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.div1  { grid-area: 1 / 1 / 2 / 2; }
.div2  { grid-area: 2 / 1 / 3 / 3; }
.div3  { grid-area: 3 / 1 / 5 / 3; }
.div4  { grid-area: 5 / 1 / 6 / 2; }
.div5  { grid-area: 5 / 2 / 6 / 3; }
.div6  { grid-area: 4 / 3 / 6 / 5; }
.div7  { grid-area: 4 / 5 / 6 / 6; }
.div8  { grid-area: 4 / 6 / 5 / 7; }
.div9  { grid-area: 5 / 6 / 6 / 7; }
.div10 { grid-area: 3 / 7 / 6 / 9; }
.div11 { grid-area: 2 / 5 / 4 / 7; }
.div12 { grid-area: 2 / 3 / 4 / 4; }
.div13 { grid-area: 3 / 4 / 4 / 5; }
.div14 { grid-area: 1 / 4 / 3 / 5; }
.div15 { grid-area: 1 / 2 / 2 / 3; }
.div16 { grid-area: 1 / 3 / 2 / 4; }
.div17 { grid-area: 1 / 5 / 2 / 6; }
.div18 { grid-area: 1 / 6 / 2 / 8; }
.div19 { grid-area: 2 / 7 / 3 / 8; }

.div20 { grid-area: 1 / 8 / 3 / 9; }
