body{
    background-color: #4B4376;
}



h1{
text-align: center;
background-color: #432E54;
border-style:solid;
    border-radius: 5px; 
    width: 1000px;
    height: 50px;
    margin-left:765px;
    border-radius: 2%;
}

h2{
    text-align: center;
    border-style:solid;
    border-radius: 5px; 
    width: 900px;
    height: 400px;
    margin: auto;
    background-color: #432E54;
    border-radius: 2%;
}

