body{
    color: yellowgreen;
    background-color: gray;
    background-image: url(https://img.freepik.com/free-vector/realistic-vector-background-music-notes-wave-background_134830-1438.jpg);
    background-size: cover;
}

h1{
    color: orange;
    text-align: center;
}

h3{
   color: orangered;
   text-align: center; 
}