
body{
    color: yellowgreen;
    background-color: gray;
    background-image: url(https://www.slashgear.com/img/gallery/what-to-know-when-looking-for-a-motorcycle-repair-shop-near-you/look-for-good-reviews-1715201378.jpg);
    background-size: cover;

}

h1{
    text-align: center;
    color: rgb(231, 228, 31);


}

h3{
    color: rgb(134, 221, 20);
    text-align: center;
}