h1 {
    color: red;
    text-align: center;
}

h2{
    color: lightskyblue;
    text-align: center;
}

p{
    color: lightskyblue;
    font-size: large;
    font-weight:bold;
    text-align: center;
}

.mano_klase{
    color: lightskyblue;
    text-align: center;
}

#mano_id{
    color: lightskyblue;
    text-align: center;
}

body{
    color: yellowgreen;
    background-color: rgb(30, 43, 43);
    background-size: contain;
}

.mano_klase2{
    color: lightskyblue;
    text-align: center;

}

.mano_klase3{
    color: lightskyblue;
    text-align: center;
    

}

h4{
    color: lightskyblue;
    text-align: center;
}
