body{
    color: yellowgreen;
    background-color: gray;
    background-image: url(https://static.vecteezy.com/system/resources/previews/020/336/039/non_2x/steam-logo-steam-icon-free-free-vector.jpg);
    background-size: cover;
}

h1{
    color: red;
    text-align: center;
}


h3{
    color: rgb(31, 255, 255);
    text-align: center;
}

