body{
    color: yellowgreen;
    background-color: gray;
    background-image: url(https://img.freepik.com/free-vector/realistic-boxing-ring-background_52683-134994.jpg);
    background-size: cover;



.sportas{
    color: chartreuse;
}