h1 {
    color: red;
    text-align: center;
}

p{
    color: chartreuse;
    font-size: large;
    font-weight:bold;
    text-align: left;
}

.mano_klase{
    color: yellow;
    text-align: left;
}

#mano_id{
    color: brown;
    text-align: left;
}

body{
    color: yellowgreen;
    background-color: gray;
    background-size: contain;
}

.mano_klase2{
    color: blueviolet;
}

.mano_klase3{
    color: red;
    text-align: left;

}

h4{
    color: royalblue;
}
