
body {
    background-image: url('https://i.ibb.co/brw6xBS/a5p6wqnpxbka1.jpg');
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat; 
}



.pasirinkt {
    border-style: solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    border: 2px solid black; 
    background-color: #301934; 
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
  }
  
  .projektai {
    text-align: left;
    flex: 1; 
  }
  
  .portfolis {
    text-align: center;
    flex: 1;
  }
  
  .kontaktai {
    text-align: right;
    flex: 1;
  }
  

#Projekt {

    position: relative;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    width: 900px;
    height: 400px;
    margin: auto;
    background-color: #432E54;
    border-radius: 2%;
}


